Agro Chemicals
Alcoholic Beverages
Automobile
Banks
Cement
Chemicals
Construction
Crude Oil & Natural Gas
Diamond, Gems and Jewellery
Edible Oil
Engineering
Entertainment
Fertilizers
Finance
Healthcare
Hotels & Restaurants
Infrastructure Developers & Operators
IT - Software
Mining & Mineral products
Power Generation & Distribution

In [1]:
import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
#Agro chemical stocks
mytable_values1 = []
#for i in range(1,10):
#start_time = time.time()
url= 'https://www.screener.in/company/compare/00000001/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values1.append(col)
    #end_time = time.time()
    #print('Page {} completed in {} seconds'. format(i,end_time-start_time))

In [4]:
Agro_chem = pd.DataFrame(mytable_values1)

In [5]:
Agro_chem.dropna(inplace=True)
Agro_chem.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Agro_chem.insert(0, 'Sector', 'Agro Chemical')
del Agro_chem['S.no']

In [6]:
Agro_chem

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Agro Chemical,UPL,663.90,12.56,50740.04,1.51,1005.00,30.09,10821.00,27.08,15.58
2,Agro Chemical,P I Industries,2994.25,49.44,45435.00,0.20,262.40,40.17,1543.20,29.27,17.33
3,Agro Chemical,Sumitomo Chemi.,508.05,54.43,25364.16,0.20,138.41,30.40,985.53,26.11,33.69
4,Agro Chemical,Bayer Crop Sci.,4648.25,32.03,20887.32,0.54,302.60,19.27,1667.40,17.76,30.91
5,Agro Chemical,Bharat Rasayan,10899.15,25.26,4534.33,0.01,38.61,-1.30,327.40,30.02,28.42
6,Agro Chemical,Astec Lifescienc,2145.60,47.96,4233.81,0.07,11.41,-12.17,184.27,43.22,22.21
7,Agro Chemical,Rallis India,211.45,27.60,4108.18,1.42,67.47,-18.70,862.78,16.51,13.56
8,Agro Chemical,Sharda Cropchem,434.75,11.79,3936.78,1.38,22.64,-40.51,824.53,32.42,26.15
9,Agro Chemical,India Pesticides,284.45,20.75,3273.59,0.26,41.37,-1.55,218.46,28.29,40.54
10,Agro Chemical,Dhanuka Agritech,684.70,15.27,3198.30,2.04,49.11,1.05,392.73,7.96,30.03
11,Agro Chemical,Best Agrolife,1303.45,25.92,3083.36,0.15,40.13,54.70,463.70,34.58,40.73
12,Agro Chemical,Meghmani Organi.,116.65,8.70,2961.59,1.20,109.06,59.05,783.41,57.27,24.06
13,Agro Chemical,Paushak,8580.85,57.21,2644.71,0.14,11.55,294.20,50.30,120.13,16.91
14,Agro Chemical,Insecticid.India,738.25,19.81,2184.91,0.27,38.00,9.48,560.69,19.74,16.18
15,Agro Chemical,Heranba Inds,521.95,11.92,2090.52,0.38,33.71,-28.87,361.93,2.99,38.46
17,Agro Chemical,NACL Industries,75.20,20.16,1493.91,0.73,14.92,4.70,475.34,46.40,15.45
18,Agro Chemical,Bhagiradha Chem.,1321.00,34.07,1371.67,0.23,11.98,57.01,121.72,23.64,24.77
19,Agro Chemical,Shivalik Rasayan,812.65,46.79,1180.47,0.06,8.46,-5.06,57.83,14.76,15.28
20,Agro Chemical,Kilpest India,325.60,12.81,244.46,0.77,4.72,-69.22,11.69,-64.22,29.93
21,Agro Chemical,Aimco Pesticides,218.90,17.01,209.76,0.91,2.71,158.10,70.58,31.21,31.24
22,Agro Chemical,Sikko Industries,152.70,30.11,171.03,0.00,0.40,111.76,17.42,67.02,12.89
23,Agro Chemical,Super Crop Safe,6.10,,24.53,0.00,-0.37,62.63,4.29,-33.18,-11.59
24,Agro Chemical,Bhaskar Agrochem,38.00,,19.79,0.00,-1.94,-1041.18,5.36,-48.11,16.52
25,Agro Chemical,Phyto Chem (I),23.25,83.33,10.00,0.00,-1.57,-8.28,1.41,-16.07,7.06

In [7]:
#Alcoholic beverages stocks
mytable_values2 = []
url= 'https://www.screener.in/company/compare/00000003/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values2.append(col)

In [8]:
Alco_stocks = pd.DataFrame(mytable_values2)

In [9]:
Alco_stocks.dropna(inplace=True)
Alco_stocks.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Alco_stocks.insert(0, 'Sector', 'Alcoholic Beverages')
del Alco_stocks['S.no']

In [10]:
Alco_stocks

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Alcoholic Beverages,United Spirits,827.15,52.68,60085.98,0.00,261.10,219.33,2419.10,40.51,24.22
2,Alcoholic Beverages,United Breweries,1654.90,88.11,43755.56,0.63,162.50,424.73,2438.71,117.85,13.07
3,Alcoholic Beverages,Radico Khaitan,1062.85,56.68,14204.12,0.28,58.29,-2.57,757.43,26.74,16.44
4,Alcoholic Beverages,Globus Spirits,835.55,14.23,2403.48,0.36,37.27,-33.03,495.42,33.71,33.83
5,Alcoholic Beverages,Tilaknagar Inds.,100.70,51.44,1679.06,0.10,1.04,181.08,229.55,69.66,13.23
6,Alcoholic Beverages,G M Breweries,592.70,10.99,1085.13,0.84,22.69,3.84,141.86,22.35,20.36
7,Alcoholic Beverages,Assoc.Alcohols,471.15,13.30,852.07,0.21,13.41,32.12,184.30,130.55,27.84
8,Alcoholic Beverages,Som Distilleries,119.30,29.37,834.60,0.00,25.66,303.49,254.30,407.58,0.57
9,Alcoholic Beverages,IFB Agro Inds.,553.20,9.21,516.28,0.00,15.15,-6.88,333.61,46.19,15.40
10,Alcoholic Beverages,Piccadily Agro,40.90,15.84,385.85,0.24,7.56,-39.18,184.15,-10.63,17.00
11,Alcoholic Beverages,Jagatjit Inds.,63.35,,292.36,0.00,-4.44,-105.56,116.54,29.04,10.67
12,Alcoholic Beverages,Khoday India,83.00,,279.38,0.00,-0.90,9.09,41.64,7.51,2.12
13,Alcoholic Beverages,Shri Gang Indus,151.00,41.85,270.74,0.00,1.55,134.85,21.80,23.72,13.69
14,Alcoholic Beverages,Pioneer Distil.,168.80,,226.09,0.00,-20.51,0.63,59.12,60.00,-24.80
15,Alcoholic Beverages,Aurangabad Dist.,145.95,13.58,119.68,0.00,,,,,20.17
17,Alcoholic Beverages,Comfort Intech,20.75,21.98,66.39,2.41,0.47,-91.01,38.60,131.14,6.15
18,Alcoholic Beverages,Ravikumar Distll,18.80,,44.89,0.00,0.39,126.17,8.76,1890.91,-5.71
19,Alcoholic Beverages,Piccadily Sugar,17.30,,40.23,0.00,0.11,-109.09,5.15,-17.86,2.18
20,Alcoholic Beverages,Winsome Brew.,9.15,,25.32,0.00,-0.59,-9.26,0.00,-100.00,-5.66
21,Alcoholic Beverages,Silver Oak (I),36.00,,13.64,0.00,-0.45,2.44,0.00,,-3.85

In [11]:
#Automobile Stocks
mytable_values3 = []
url= 'https://www.screener.in/company/compare/00000005/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values3.append(col)

In [12]:
Auto_stock = pd.DataFrame(mytable_values3)

In [13]:
Auto_stock.dropna(inplace=True)
Auto_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Auto_stock.insert(0, 'Sector', 'Automobile')
del Auto_stock['S.no']

In [14]:
Auto_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Automobile,Maruti Suzuki,8649.55,58.84,261308.16,0.69,1036.20,118.15,26511.70,49.14,6.07
2,Automobile,M & M,1248.20,19.33,155131.79,0.93,2360.70,804.53,28412.38,48.20,11.31
3,Automobile,Tata Motors,399.00,,142388.21,0.00,-4950.97,-30.09,71934.66,8.32,1.40
4,Automobile,Bajaj Auto,3604.80,18.96,104319.66,3.88,1163.33,-0.58,8004.90,8.38,23.43
5,Automobile,Eicher Motors,3471.20,46.34,94994.75,0.60,610.66,157.52,3397.46,72.08,18.26
6,Automobile,TVS Motor Co.,1077.60,48.97,51192.07,0.35,296.75,11656.16,7315.70,56.01,11.29
7,Automobile,Hero Motocorp,2546.45,19.23,50888.72,3.73,585.58,128.67,8447.54,53.51,18.56
8,Automobile,Ashok Leyland,147.10,565.61,43190.44,0.68,21.94,102.58,8470.23,107.20,6.25
9,Automobile,Escorts Kubota,1999.75,37.80,26366.47,0.35,140.59,-21.10,2032.06,19.02,14.96
10,Automobile,Tata Motors-DVR,193.70,,9849.70,0.00,2941.48,,75653.79,,6.60
11,Automobile,Olectra Greentec,601.55,94.52,4938.79,0.07,16.68,1159.85,281.07,564.94,8.05
12,Automobile,VST Till. Tract.,2183.65,22.10,1886.01,0.92,10.05,-58.14,235.98,21.89,18.73
13,Automobile,Force Motors,1331.70,,1754.77,0.75,-12.54,-909.03,970.71,50.91,-2.73
14,Automobile,Wardwizard Inno.,56.85,148.98,1464.50,0.13,2.06,190.14,54.66,376.96,27.35
15,Automobile,SML ISUZU,779.15,,1127.79,0.00,2.34,107.00,500.19,400.34,-16.15
17,Automobile,Atul Auto,259.35,,569.44,0.00,-3.65,41.22,106.69,231.54,-6.39
18,Automobile,Hindustan Motors,16.05,50.14,335.93,0.00,1.03,160.00,0.00,,
19,Automobile,Scooters India,31.20,27.98,272.29,0.00,-1.36,61.25,0.00,,21.46

In [15]:
#Banking stocks
mytable_values4 = []
url= 'https://www.screener.in/company/compare/00000006/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values4.append(col)

In [16]:
Bank_stock = pd.DataFrame(mytable_values4)

In [17]:
Bank_stock.dropna(inplace=True)
Bank_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Bank_stock.insert(0, 'Sector', 'Banking')
del Bank_stock['S.no']

In [18]:
Bank_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Banking,HDFC Bank,1393.60,19.55,776449.79,1.11,9616.67,20.92,37273.81,15.56,5.83
2,Banking,ICICI Bank,853.60,21.47,595304.31,0.59,7698.19,55.05,26158.60,15.67,5.59
3,Banking,St Bk of India,521.45,11.48,465243.14,1.36,7796.23,-0.74,76780.86,11.34,4.44
4,Banking,Kotak Mah. Bank,1801.50,27.43,357681.36,0.06,2755.39,52.56,9164.28,13.94,6.29
5,Banking,Axis Bank,802.00,15.27,246497.96,0.12,4401.78,85.86,19193.33,17.74,5.15
6,Banking,IndusInd Bank,1184.25,17.55,91943.52,0.72,1603.29,64.45,8181.77,8.01,5.95
7,Banking,Bank of Baroda,130.00,7.81,67227.71,2.19,1941.73,63.65,19984.39,10.87,4.02
8,Banking,IDBI Bank,42.65,16.94,45806.94,0.00,772.95,28.50,4645.49,-5.59,4.07
9,Banking,Bandhan Bank,264.25,66.65,42605.71,0.00,886.50,137.62,4055.36,18.93,4.30
10,Banking,Canara Bank,223.50,5.16,40545.81,2.91,2193.12,83.07,18536.89,8.61,4.49
11,Banking,Yes Bank,15.80,33.84,39588.20,0.00,310.63,50.18,5134.85,13.47,4.96
12,Banking,Punjab Natl.Bank,35.90,13.34,39529.55,1.78,271.26,-76.78,19143.76,-0.48,4.02
13,Banking,AU Small Finance,581.60,32.42,38721.75,0.09,267.87,31.83,1820.20,34.48,7.19
14,Banking,IDFC First Bank,54.45,27.35,33875.18,0.00,485.01,178.08,4921.74,20.36,4.61
15,Banking,I O B,17.15,18.21,32323.67,0.00,392.18,20.06,4434.74,9.14,4.44
17,Banking,Union Bank (I),43.05,5.15,29490.91,4.41,1583.10,41.33,18255.95,5.66,4.43
18,Banking,Federal Bank,124.90,11.73,26352.39,1.44,645.26,77.77,3843.09,9.02,5.03
19,Banking,Indian Bank,196.35,5.84,24498.43,3.31,1310.85,4.05,10165.86,5.61,4.27
20,Banking,Bank of India,46.30,5.57,18979.38,4.32,658.80,-10.57,10042.88,7.13,4.14
21,Banking,Central Bank,19.40,11.19,16884.09,0.00,275.93,9.04,5555.14,1.11,4.10
22,Banking,UCO Bank,11.60,14.55,13845.24,0.00,123.61,21.41,3851.07,7.89,4.08
23,Banking,City Union Bank,182.00,16.55,13445.92,0.55,225.14,30.15,1099.44,10.23,5.70
24,Banking,Bank of Maha,17.85,8.63,12013.94,2.80,452.95,111.87,3457.48,11.40,3.92
25,Banking,Pun. & Sind Bank,15.10,9.53,10200.91,2.05,204.70,17.75,1800.47,6.51,4.99
26,Banking,T N Merc. Bank,465.45,8.98,7377.57,0.00,,,,,6.56

In [19]:
#Electrical equipment stocks
mytable_values5 = []
url= 'https://www.screener.in/company/compare/00000008/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values5.append(col)

In [20]:
Ele_Equip = pd.DataFrame(mytable_values5)

In [21]:
Ele_Equip.dropna(inplace=True)
Ele_Equip.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Ele_Equip.insert(0, 'Sector', 'Electrical Equipment')
del Ele_Equip['S.no']

In [22]:
Ele_Equip

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Electrical Equipment,Siemens,2740.05,80.50,97585.78,0.29,300.70,112.06,4258.30,49.99,14.94
2,Electrical Equipment,Havells India,1230.95,64.06,77123.04,0.61,243.16,3.13,4244.46,62.62,27.58
3,Electrical Equipment,A B B,3265.85,122.20,69208.22,0.16,140.28,99.66,2052.51,44.04,15.76
4,Electrical Equipment,CG Power & Indu.,256.65,74.59,39131.09,0.00,129.93,137.14,1665.24,58.59,44.86
5,Electrical Equipment,Crompton Gr. Con,383.85,38.91,24433.69,0.65,127.52,36.94,1608.05,53.71,23.76
6,Electrical Equipment,B H E L,60.65,29.93,21118.71,0.66,-187.99,57.99,4672.00,61.03,2.93
7,Electrical Equipment,Hitachi Energy,3396.55,117.74,14420.76,0.09,1.34,-91.78,985.99,25.80,25.72
8,Electrical Equipment,V-Guard Industri,250.95,42.30,10837.33,0.52,54.02,119.33,1009.64,80.06,21.75
9,Electrical Equipment,K E C Intl.,419.20,31.76,10765.53,0.95,31.02,-32.77,3318.08,30.63,14.13
10,Electrical Equipment,Triveni Turbine,257.50,59.68,8318.87,0.49,38.33,37.84,259.04,40.74,21.93
11,Electrical Equipment,Suzlon Energy,6.80,,8229.46,0.00,2432.55,109.07,1380.68,20.92,22.30
12,Electrical Equipment,Kalpataru Power,441.35,16.59,6552.48,1.47,88.00,11.76,3677.00,14.76,13.43
13,Electrical Equipment,Apar Inds.,1396.80,16.92,5363.80,1.07,122.46,96.60,3093.23,70.93,26.87
14,Electrical Equipment,Schneider Elect.,174.50,69.32,4173.46,0.00,26.53,186.44,371.48,28.91,14.99
15,Electrical Equipment,Inox Wind,150.45,,4167.58,0.00,-129.79,-147.08,210.62,24.36,-11.24
17,Electrical Equipment,GE T&D India,128.05,,3285.09,0.00,6.36,133.02,593.00,-7.07,-8.80
18,Electrical Equipment,Volt.Transform.,2596.40,18.33,2634.82,1.35,26.68,68.97,270.14,66.90,18.77
19,Electrical Equipment,TD Power Systems,618.00,25.03,1935.86,0.57,21.49,140.65,204.54,25.39,16.22
20,Electrical Equipment,Honda India,1576.10,26.82,1599.44,0.95,4.91,-75.21,200.06,-24.29,15.80
21,Electrical Equipment,Bharat Bijlee,1920.50,18.69,1088.08,1.04,16.33,19.37,277.14,-3.78,7.49
22,Electrical Equipment,Jyoti Structures,15.35,,977.09,0.00,-0.11,99.97,15.65,,
23,Electrical Equipment,T R I L,51.65,41.05,684.70,0.29,6.43,131.52,281.93,29.93,10.41
24,Electrical Equipment,Swelect Energy,321.25,14.65,487.12,0.93,-2.71,24.30,69.22,32.38,4.88
25,Electrical Equipment,HPL Electric,72.35,13.69,464.57,0.21,6.32,131.61,295.59,129.18,6.10
26,Electrical Equipment,Salzer Electron.,245.80,14.39,393.09,0.73,8.78,122.28,233.06,56.44,8.69

In [23]:
#cement stocks
mytable_values6 = []
url= 'https://www.screener.in/company/compare/00000011/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values6.append(col)

In [24]:
Cement_stock = pd.DataFrame(mytable_values6)

In [25]:
Cement_stock.dropna(inplace=True)
Cement_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Cement_stock.insert(0, 'Sector', 'Cement')
del Cement_stock['S.no']

In [26]:
Cement_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Cement,UltraTech Cem.,6181.75,24.74,178472.88,0.61,1582.02,-6.94,15163.98,28.18,14.54
2,Cement,Ambuja Cements,496.85,40.85,98676.31,1.27,865.44,-14.22,8032.88,15.11,22.14
3,Cement,Shree Cement,21075.65,38.40,76070.22,0.43,278.86,-55.73,4414.85,21.46,16.61
4,Cement,ACC,2253.90,30.35,42334.50,2.57,227.35,-60.08,4468.42,15.02,19.20
5,Cement,Dalmia BharatLtd,1506.40,26.12,28219.88,0.60,205.00,-13.66,3302.00,27.64,7.09
6,Cement,J K Cements,2508.25,29.83,19385.41,0.60,160.80,-15.41,2269.66,32.41,16.62
7,Cement,The Ramco Cement,702.30,19.86,16601.83,0.43,112.27,-33.56,1772.49,44.26,9.51
8,Cement,Nuvoco Vistas,398.35,,14220.19,0.00,20.47,-82.09,2652.46,20.40,4.26
9,Cement,India Cements,236.15,63.33,7316.76,0.42,81.74,85.78,1514.35,44.88,3.20
10,Cement,Birla Corpn.,904.10,19.85,6957.85,1.11,61.92,-49.64,2203.76,25.99,8.09
11,Cement,JK Lakshmi Cem.,544.65,13.88,6409.48,0.92,115.07,-15.37,1654.14,24.79,18.74
12,Cement,Prism Johnson,124.85,244.63,6284.45,0.00,-16.01,-281.19,1811.17,38.08,8.45
13,Cement,Heidelberg Cem.,201.05,19.35,4550.55,4.48,51.61,-24.82,589.89,6.11,20.82
14,Cement,Star Cement,107.15,17.54,4320.87,0.00,67.56,-0.63,666.06,30.31,12.02
15,Cement,Sagar Cements,203.95,225.56,2663.83,0.34,-13.10,-114.86,557.72,42.07,8.27
17,Cement,Orient Cement,125.75,12.22,2580.24,1.99,37.42,-58.17,713.94,3.33,23.03
18,Cement,Kesoram Inds.,57.10,,1769.29,0.00,-61.25,-579.64,891.23,4.19,18.81
19,Cement,K C P,118.05,10.85,1521.91,0.85,42.56,-65.74,566.41,4.56,21.20
20,Cement,Sanghi Industrie,51.00,,1280.10,0.00,-32.87,-247.27,339.14,20.31,4.31
21,Cement,Shiva Cement,55.90,,1090.05,0.00,-13.38,-149.63,0.00,-100.00,-2.49
22,Cement,Mangalam Cement,371.00,14.41,1019.60,0.40,28.10,-19.87,513.81,43.39,13.70
23,Cement,Udaipur Cement,32.15,20.92,1002.72,0.00,13.57,-19.66,278.11,28.56,11.85
24,Cement,Sh. Digvijay Cem,65.85,18.77,951.65,5.32,17.14,-21.12,161.23,4.21,28.80
25,Cement,NCL Industries,187.95,11.12,846.85,1.60,12.47,-63.82,390.67,-3.06,16.26
26,Cement,Deccan Cements,516.65,8.10,722.26,0.97,20.68,-43.85,194.02,-13.48,19.75

In [27]:
#Chemical stocks
mytable_values7 = []
url= 'https://www.screener.in/company/compare/00000014/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values7.append(col)

In [28]:
Chem_stock = pd.DataFrame(mytable_values7)

In [29]:
Chem_stock.dropna(inplace=True)
Chem_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Chem_stock.insert(0, 'Sector', 'Chemical')
del Chem_stock['S.no']

In [30]:
Chem_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Chemical,Pidilite Inds.,2621.60,99.39,133288.29,0.38,357.52,62.47,3101.11,60.12,26.13
2,Chemical,SRF,2496.85,35.22,74012.84,0.29,608.00,53.82,3894.72,44.28,23.95
3,Chemical,Gujarat Fluoroch,3986.35,47.15,43756.85,0.10,303.42,100.73,1333.98,46.28,20.24
4,Chemical,Solar Industries,3827.25,67.43,34657.08,0.20,182.63,74.56,1615.64,95.78,25.38
5,Chemical,Deepak Nitrite,2225.45,30.41,30369.96,0.31,234.62,-22.47,2057.99,34.84,44.47
6,Chemical,Tata Chemicals,1151.85,18.74,29344.53,1.09,637.00,104.51,3995.00,34.15,8.40
7,Chemical,Aarti Industries,781.85,21.29,28338.71,0.45,189.07,14.69,1972.02,49.76,22.07
8,Chemical,Linde India,3173.05,72.45,27088.61,0.11,169.23,139.87,588.06,13.27,17.09
9,Chemical,Atul,8763.20,43.07,25896.10,0.29,163.47,-1.02,1476.85,36.72,18.68
10,Chemical,Navin Fluo.Intl.,4600.50,80.92,22789.20,0.24,74.45,33.16,397.52,21.75,19.14
11,Chemical,Fine Organic,7072.45,56.54,21684.43,0.13,159.80,345.00,747.74,109.12,38.79
12,Chemical,Vinati Organics,1979.10,55.45,20347.26,0.33,101.19,25.00,506.32,31.05,26.59
13,Chemical,Clean Science,1613.00,70.02,17115.64,0.20,70.44,28.99,234.07,59.98,46.63
14,Chemical,Alkyl Amines,2845.20,63.72,14545.36,0.35,81.88,4.25,473.48,20.84,32.98
15,Chemical,Godrej Industrie,430.30,19.08,14512.37,0.00,257.60,47.20,4024.55,39.23,9.81
17,Chemical,BASF India,2874.50,21.27,12444.36,0.21,196.75,-0.27,3887.79,29.04,33.51
18,Chemical,Castrol India,123.15,15.07,12191.19,2.44,206.26,47.29,1241.71,39.59,67.50
19,Chemical,Aether Industri.,950.30,108.62,11831.47,0.00,30.62,-5.29,160.01,6.66,30.02
20,Chemical,Deepak Fertiliz.,891.70,11.44,11257.88,1.01,435.66,238.92,3031.07,59.35,19.55
21,Chemical,Balaji Amines,3038.75,24.54,9841.83,0.20,148.04,36.06,670.17,48.70,50.19
22,Chemical,Laxmi Organic,329.50,40.00,8756.90,0.21,64.88,-36.62,756.61,2.75,25.63
23,Chemical,Jubilant Ingrev.,535.05,22.00,8533.97,0.93,79.38,-52.82,1165.82,1.86,29.10
24,Chemical,Anupam Rasayan,729.35,50.06,7819.58,0.21,37.40,16.95,306.56,31.19,11.03
25,Chemical,Meghmani Fineche,1590.05,20.40,6603.39,0.00,107.79,191.64,532.85,83.52,29.05
26,Chemical,Gujarat Alkalies,885.75,9.02,6502.07,1.13,222.07,249.72,1128.33,57.49,13.50

In [31]:
#Construction stocks
mytable_values8 = []
url= 'https://www.screener.in/company/compare/00000016/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values8.append(col)

In [32]:
Construc_stock = pd.DataFrame(mytable_values8)

In [33]:
Construc_stock.dropna(inplace=True)
Construc_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Construc_stock.insert(0, 'Sector', 'Construction')
del Construc_stock['S.no']

In [34]:
Construc_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Construction,Macrotech Devel.,989.80,36.23,47548.72,0.00,271.26,68.46,2675.75,66.67,10.34
2,Construction,National Standar,5063.60,655.06,10127.20,0.00,0.77,-92.56,1.07,-84.40,11.63
3,Construction,Rail Vikas,36.80,6.15,7672.87,4.97,297.67,28.16,4640.75,19.94,16.79
4,Construction,PNC Infratech,263.55,9.59,6758.53,0.19,240.66,104.31,2052.88,40.37,15.29
5,Construction,Mahindra Life.,431.35,54.76,6692.58,0.46,75.70,422.84,94.55,-36.21,0.54
6,Construction,KNR Construct.,221.90,18.53,6229.46,0.11,90.53,-17.04,980.45,21.48,21.21
7,Construction,NCC,69.15,11.14,4338.45,2.89,137.40,159.54,3321.35,60.89,12.94
8,Construction,H.G. Infra Engg.,559.55,9.35,3632.90,0.18,109.45,8.34,1105.90,17.47,28.46
9,Construction,Ganesh Housing,382.80,40.82,3195.33,0.00,13.11,143.23,42.52,-46.10,14.49
10,Construction,Man Infra,82.50,13.80,3070.06,1.02,43.77,18.61,351.97,129.49,33.74
11,Construction,JP Associates,11.40,,2800.61,0.00,-381.37,-29.82,1839.76,23.95,-2.93
12,Construction,PSP Projects,634.65,13.79,2285.63,0.79,28.49,13.55,345.24,8.78,34.87
13,Construction,Hind.Construct.,14.25,,2154.58,0.00,-280.67,-255.95,2228.92,-9.17,60.01
14,Construction,ITD Cem,116.50,24.72,2001.32,0.39,30.19,68.03,1097.84,32.98,14.46
15,Construction,Rachana Infra.,1017.15,864.11,1892.40,0.00,,,,,8.45
17,Construction,Welspun Enterp,124.60,12.63,1865.83,1.20,49.10,90.93,763.23,104.90,7.43
18,Construction,JMC Projects,107.15,18.66,1819.03,0.93,31.33,408.67,1671.64,44.01,14.07
19,Construction,Ramky Infra,214.05,203.26,1489.91,0.00,8.34,-83.08,371.79,41.28,19.60
20,Construction,Shriram Properti,75.30,20.30,1283.16,0.00,10.47,123.95,122.17,189.98,9.49
21,Construction,Patel Engineerin,22.40,8.60,1157.83,0.00,41.34,9286.67,973.91,46.18,12.14
22,Construction,Elpro Internatio,67.15,1.05,1138.06,0.00,16.06,215.71,23.74,80.26,13.99
23,Construction,Indian Hume Pipe,169.50,11.15,822.85,1.18,20.67,343.56,360.13,23.70,11.97
24,Construction,B.L.Kashyap,27.20,30.00,612.06,0.00,11.73,88.89,288.59,19.61,9.65
25,Construction,Vascon Engineers,27.30,11.04,593.28,0.00,10.81,253.77,201.23,80.28,2.33
26,Construction,Supreme Holdings,153.00,41.53,542.85,0.00,2.41,8.56,18.23,14.51,15.10

In [35]:
#Crude Oil & Natural Gas stocks
mytable_values9 = []
url= 'https://www.screener.in/company/compare/00000019/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values9.append(col)

In [36]:
Crude_stock = pd.DataFrame(mytable_values9)

In [37]:
Crude_stock.dropna(inplace=True)
Crude_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Crude_stock.insert(0, 'Sector', 'Crude Oil & Natural Gas stocks')
del Crude_stock['S.no']

In [38]:
Crude_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Crude Oil & Natural Gas stocks,O N G C,129.85,3.28,163292.77,8.09,8580.75,48.80,182893.75,69.18,16.79
2,Crude Oil & Natural Gas stocks,Oil India,189.05,2.78,20511.58,7.54,3230.23,166.01,11566.93,86.51,21.55
3,Crude Oil & Natural Gas stocks,Hind.Oil Explor.,134.40,23.69,1779.29,0.00,32.35,191.44,89.42,193.37,6.06
4,Crude Oil & Natural Gas stocks,Selan Expl. Tech,315.85,27.60,478.59,1.58,9.08,443.71,30.12,85.24,2.34
5,Crude Oil & Natural Gas stocks,Aban Offshore,50.55,,294.75,0.00,-212.87,19.93,239.01,23.74,
6,Crude Oil & Natural Gas stocks,Asian Energy,71.50,28.19,274.34,0.00,-8.46,-141.03,27.44,-64.35,18.13

In [39]:
#Diamond, Gems and Jewellery
mytable_values10 = []
url= 'https://www.screener.in/company/compare/00000020/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values10.append(col)

In [40]:
Jewel_stock = pd.DataFrame(mytable_values10)

In [41]:
Jewel_stock.dropna(inplace=True)
Jewel_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Jewel_stock.insert(0, 'Sector', 'Diamond, Gems and Jewellery')
del Jewel_stock['S.no']

In [42]:
Jewel_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,"Diamond, Gems and Jewellery",Titan Company,2598.65,77.65,230955.66,0.29,790.00,4261.11,9443.00,171.90,21.40
2,"Diamond, Gems and Jewellery",Rajesh Exports,672.70,19.83,19871.33,0.15,271.74,-2.40,49497.08,-2.75,8.85
3,"Diamond, Gems and Jewellery",Kalyan Jewellers,101.00,27.16,10403.53,0.00,107.77,310.08,3332.64,103.61,9.36
4,"Diamond, Gems and Jewellery",Vaibhav Global,345.25,35.15,5692.12,1.74,19.58,-72.63,628.27,-7.89,20.88
5,"Diamond, Gems and Jewellery",PC Jeweller,97.00,,4505.14,0.00,74.43,213.49,547.42,121.83,-0.94
6,"Diamond, Gems and Jewellery",Thangamayil Jew.,1269.60,26.92,1749.19,0.79,18.98,354.42,826.41,230.62,11.48
7,"Diamond, Gems and Jewellery",Goldiam Intl.,125.60,13.39,1375.82,0.96,21.36,-10.24,134.91,-10.60,29.48
8,"Diamond, Gems and Jewellery",Asian Star Co.,735.05,12.07,1176.82,0.20,21.62,4.57,1265.01,47.31,6.80
9,"Diamond, Gems and Jewellery",Renaiss. Global,110.20,9.84,1045.56,1.54,24.23,3.55,573.77,40.11,11.03
10,"Diamond, Gems and Jewellery",D. P. Abhushan,387.55,17.57,862.49,0.26,12.92,202.58,433.32,147.13,24.25
11,"Diamond, Gems and Jewellery",T B Z,79.30,16.31,528.84,1.26,2.44,124.92,579.89,199.42,6.44
12,"Diamond, Gems and Jewellery",Starlineps Enter,110.20,1221.53,476.40,0.01,0.06,300.00,2.92,11.45,1.68
13,"Diamond, Gems and Jewellery",Radhika Jeweltec,160.05,10.95,376.18,0.62,10.22,270.29,60.97,168.12,18.51
14,"Diamond, Gems and Jewellery",Uday Jewellery,152.45,40.40,335.72,0.00,2.62,8633.33,42.39,329.48,11.46
15,"Diamond, Gems and Jewellery",Atlas Jewellery,20.00,131.58,201.31,0.00,-0.03,98.35,0.78,77.27,-2.91
17,"Diamond, Gems and Jewellery",Ashapuri Gold,71.50,48.84,178.74,0.00,1.25,86.57,47.97,100.71,5.14
18,"Diamond, Gems and Jewellery",Sky Gold,150.10,17.90,161.26,0.00,,,,,14.62
19,"Diamond, Gems and Jewellery",Veeram Securit.,31.40,39.68,158.34,0.00,0.80,-6.98,3.67,156.64,27.35
20,"Diamond, Gems and Jewellery",Narbada Gems,72.70,31.52,153.81,0.00,2.33,156.04,22.51,116.44,12.37
21,"Diamond, Gems and Jewellery",Penta Gold,90.00,,114.53,0.00,0.85,,66.54,,-1.27
22,"Diamond, Gems and Jewellery",Golkunda Diamond,147.00,10.91,102.32,1.02,3.20,168.91,66.62,10.48,17.23
23,"Diamond, Gems and Jewellery",Kanani Industrie,8.30,30.87,82.72,0.00,1.25,237.84,95.01,29.27,2.09
24,"Diamond, Gems and Jewellery",Patdiam Jeweller,180.00,12.43,77.71,0.00,,,,,19.56
25,"Diamond, Gems and Jewellery",Moksh Ornaments,14.05,14.07,75.39,0.71,1.32,21.10,108.44,62.14,12.55
26,"Diamond, Gems and Jewellery",Gautam Gems,13.53,94.58,68.10,0.00,0.42,75.00,30.48,-16.56,4.78

In [43]:
#Edible Oil
mytable_values11 = []
url= 'https://www.screener.in/company/compare/00000023/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values11.append(col)

In [44]:
Edoil_stock = pd.DataFrame(mytable_values11)

In [45]:
Edoil_stock.dropna(inplace=True)
Edoil_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Edoil_stock.insert(0, 'Sector', 'Edible Oil')
del Edoil_stock['S.no']

In [46]:
Edoil_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Edible Oil,Adani Wilmar,683.80,109.63,88859.47,0.00,170.31,1.53,14024.23,23.98,19.97
2,Edible Oil,Patanjali Foods,1376.35,57.03,49848.02,0.36,241.26,39.03,7210.97,36.93,17.54
3,Edible Oil,Guj. Ambuja Exp,264.15,12.76,6077.24,0.25,114.60,0.68,1272.86,24.18,30.35
4,Edible Oil,Agro Tech Foods.,718.10,102.70,1749.04,0.42,0.22,-97.09,186.31,-9.69,6.96
5,Edible Oil,AVT Natural Prod,103.15,19.30,1570.22,0.97,24.85,52.08,148.67,1.01,26.70
6,Edible Oil,Manorama Indust.,1286.95,59.79,1528.94,0.00,6.77,26.78,72.97,18.46,12.98
7,Edible Oil,Gokul Agro,81.70,8.54,1171.03,0.00,28.27,100.35,2864.32,23.41,31.94
8,Edible Oil,BCL Industries,323.45,9.13,782.21,1.55,17.75,5.22,374.88,-16.44,23.69
9,Edible Oil,Vegetable Prod.,53.90,,588.59,0.00,-0.15,-600.00,0.00,,-0.05
10,Edible Oil,Mangalam Global,35.10,359.62,456.72,0.57,-2.80,-1766.67,238.13,-2.19,8.52
11,Edible Oil,KN Agri Resource,174.15,9.23,435.36,0.00,,,,,
12,Edible Oil,Ajanta Soya,42.95,7.77,345.67,0.00,10.97,26.38,361.05,7.27,48.85
13,Edible Oil,Vijay Solvex,1046.45,7.32,335.13,0.00,3.84,-68.58,657.64,0.56,20.82
14,Edible Oil,Gokul Refoils,31.55,11.28,311.83,0.00,6.97,19.15,948.30,30.29,8.93
15,Edible Oil,Ambar Protein,505.20,57.87,290.49,0.00,1.34,74.03,84.38,3.02,18.76
17,Edible Oil,Shri Venkatesh,248.35,15.32,274.67,0.40,6.24,162.18,176.23,22.25,25.04
18,Edible Oil,M K Proteins,641.25,26.38,267.45,0.00,0.57,,53.59,,22.76
19,Edible Oil,Modi Naturals,211.20,32.05,267.31,0.00,2.61,-28.88,100.11,-11.47,13.79
20,Edible Oil,Kriti Nutrients,51.50,20.74,257.79,0.35,2.08,6.67,193.76,21.33,14.89
21,Edible Oil,Shree Ram Prote.,80.65,29.43,172.75,0.00,1.03,-37.20,48.42,-40.08,13.79
22,Edible Oil,CIAN Agro,57.25,286.11,160.22,0.00,0.44,-13.73,49.24,-33.27,11.06
23,Edible Oil,Suraj Industries,129.10,36.57,158.72,0.00,1.30,4233.33,9.83,221.24,29.86
24,Edible Oil,Diligent Indust.,13.28,82.54,151.87,0.00,0.57,470.00,30.27,54.83,8.22
25,Edible Oil,Superior Indus.,91.05,44.72,126.11,0.00,1.00,-34.86,17.67,110.86,5.49
26,Edible Oil,Raj Oil Mills,56.50,28.78,84.61,0.00,0.34,36.00,28.50,19.25,15.38

In [47]:
#Engineering company stocks
mytable_values12 = []
url= 'https://www.screener.in/company/compare/00000072/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values12.append(col)

In [48]:
Engi_stock = pd.DataFrame(mytable_values12)

In [49]:
Engi_stock.dropna(inplace=True)
Engi_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Engi_stock.insert(0, 'Sector', 'Engineering')
del Engi_stock['S.no']

In [50]:
Engi_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Engineering,Lak. Mach. Works,12034.25,48.80,12847.23,0.33,72.62,1633.17,982.63,114.73,13.51
2,Engineering,Sterling & Wils.,292.20,,5544.67,0.00,-298.71,-4.43,312.69,-78.26,-65.81
3,Engineering,MTAR Technologie,1577.90,70.81,4858.39,0.19,16.43,88.63,91.00,68.42,15.67
4,Engineering,Paras Defence,641.55,74.81,2503.21,0.00,7.53,668.37,41.48,74.21,12.45
5,Engineering,Thejo Engg.,1035.10,29.26,1105.79,0.19,,,,,34.15
6,Engineering,HMT,29.60,1.96,1059.68,0.00,-32.99,22.54,32.11,188.24,
7,Engineering,Forbes & Co,713.80,0.20,920.80,0.00,145.65,2274.20,121.85,-77.66,1215.63
8,Engineering,The Anup Enginee,896.50,14.71,887.31,0.89,5.56,-31.19,51.79,-0.40,17.44
9,Engineering,Skipper,70.80,19.11,728.98,0.14,0.21,102.25,416.09,51.50,10.09
10,Engineering,Singer India,72.40,46.52,388.90,1.38,0.96,242.86,109.53,49.47,13.68
11,Engineering,Macpower CNC,380.05,27.12,380.21,0.39,2.55,86.13,41.15,19.21,23.15
12,Engineering,ICE Make Refrig.,238.35,33.46,376.11,0.50,3.10,473.49,64.85,99.91,16.56
13,Engineering,Om Infra,35.10,13.32,336.10,0.71,5.73,-17.67,144.96,176.59,7.54
14,Engineering,Emkay Taps & Cut,302.00,12.82,322.28,0.00,,,,,19.10
15,Engineering,Mold-Tek Technol,90.15,19.40,254.89,2.22,3.10,-4.91,28.87,27.52,25.61
17,Engineering,Bombay Metrics,1550.00,192.41,238.58,0.05,,,,,27.99
18,Engineering,BEW Engg,875.00,40.04,225.81,0.00,2.50,163.16,23.64,11.19,26.43
19,Engineering,Rajoo Engineers,30.25,12.85,186.13,0.83,0.75,-29.25,18.00,-45.34,22.99
20,Engineering,Affordable Robo.,142.35,61.14,144.91,0.00,,,,,7.02
21,Engineering,Kranti Industrie,96.00,39.76,101.40,0.00,1.03,74.58,23.75,24.80,10.55
22,Engineering,Debock Industrie,26.40,14.99,100.90,0.00,5.14,558.97,36.78,109.45,17.85
23,Engineering,McNally Bharat,3.30,,68.21,0.00,-1045.67,-6579.87,91.67,0.56,-1.22
24,Engineering,ATV Projects,9.86,12.81,52.38,0.00,1.26,35.48,7.43,14.66,0.94
25,Engineering,Acrow India,817.05,,52.29,0.00,-0.34,-200.00,0.00,,-3.81
26,Engineering,Lak. Auto. Looms,709.30,19.36,47.44,1.41,0.54,-22.86,2.96,9.23,19.27

In [51]:
#Entertainment stocks
mytable_values13 = []
url= 'https://www.screener.in/company/compare/00000024/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values13.append(col)

In [52]:
Ente_stock = pd.DataFrame(mytable_values13)

In [53]:
Ente_stock.dropna(inplace=True)
Ente_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Ente_stock.insert(0, 'Sector', 'Entertainment')
del Ente_stock['S.no']

In [54]:
Ente_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Entertainment,Zee Entertainmen,273.15,27.98,26187.72,1.10,106.60,-45.32,1845.74,3.99,14.86
2,Entertainment,Sun TV Network,537.35,11.96,21172.21,2.56,493.99,35.30,1219.14,48.88,27.46
3,Entertainment,PVR,1698.90,,10385.76,0.00,53.16,124.23,981.40,1552.47,-3.00
4,Entertainment,Saregama India,377.60,43.81,7297.98,0.79,41.43,52.30,169.30,61.30,22.11
5,Entertainment,TV18 Broadcast,36.95,12.20,6326.12,0.00,60.02,-66.24,1265.05,9.53,19.97
6,Entertainment,Inox Leisure,500.85,,6130.40,0.00,57.09,146.69,582.26,2509.86,-1.54
7,Entertainment,Delta Corp,214.25,22.96,5732.64,0.58,68.63,406.33,269.97,261.31,5.40
8,Entertainment,Dish TV India,16.65,4.14,3065.74,0.00,17.85,-63.68,608.63,-16.74,25.45
9,Entertainment,Hathway Cable,16.15,22.71,2858.72,0.00,20.97,-57.05,447.18,1.33,4.09
10,Entertainment,Prime Focus,75.00,,2225.83,0.00,-48.82,49.18,1028.15,55.20,11.23
11,Entertainment,Wonderla Holiday,372.05,30.89,2105.44,0.00,64.38,585.89,149.42,3334.94,-1.68
12,Entertainment,Tips Industries,1549.45,26.55,2008.28,0.13,17.18,17.83,34.23,21.73,86.50
13,Entertainment,GTPL Hathway,157.45,8.68,1766.85,2.54,48.22,-8.85,630.90,4.84,29.35
14,Entertainment,Den Networks,33.20,11.11,1586.83,0.00,12.71,-68.94,283.36,-6.47,2.31
15,Entertainment,NxtDigital,422.15,,1422.63,0.95,-46.36,-70.46,245.22,-9.40,2.04
17,Entertainment,Imagica. Enter.,32.20,,1333.64,0.00,532.27,157.78,88.86,4456.92,-16.53
18,Entertainment,Media Matrix,9.94,760.77,1125.95,0.00,0.57,1350.00,179.35,133.59,4.09
19,Entertainment,Zee Media,16.55,15.87,1038.15,0.00,8.19,1806.25,206.96,21.61,24.07
20,Entertainment,Music Broadcast,24.40,116.82,846.91,0.00,0.01,100.08,44.14,115.53,-1.37
21,Entertainment,Ent.Network,161.15,,766.30,0.62,-13.57,53.91,100.83,142.61,-3.59
22,Entertainment,Nicco Parks,114.20,33.96,534.46,0.44,9.46,537.96,24.83,1049.54,12.25
23,Entertainment,Balaji Telefilms,48.35,,488.97,0.00,-24.49,28.27,118.82,83.42,-24.18
24,Entertainment,Shemaroo Entert.,156.85,64.71,425.82,0.00,0.43,118.38,96.00,28.41,3.84
25,Entertainment,Eros Intl.Media,37.95,679.05,359.90,0.00,-26.22,36.26,36.55,86.01,3.45
26,Entertainment,Cineline India,109.20,,343.64,0.00,-3.62,78.81,30.06,1047.33,-0.62

In [55]:
#Fertilizer stocks
mytable_values14 = []
url= 'https://www.screener.in/company/compare/00000025/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values14.append(col)

In [56]:
Ferti_stock = pd.DataFrame(mytable_values14)

In [57]:
Ferti_stock.dropna(inplace=True)
Ferti_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Ferti_stock.insert(0, 'Sector', 'Fertilizer')
del Ferti_stock['S.no']

In [58]:
Ferti_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Fertilizer,Coromandel Inter,969.90,16.87,28504.93,1.24,499.08,47.75,5729.10,56.37,34.69
2,Fertilizer,Chambal Fert.,318.45,8.68,13254.14,2.36,341.71,-10.39,7291.18,105.99,23.35
3,Fertilizer,G N F C,662.95,5.07,10306.72,1.51,568.95,137.19,2696.19,93.37,33.14
4,Fertilizer,F A C T,114.75,13.78,7434.65,0.00,136.99,244.20,1292.37,74.14,37.43
5,Fertilizer,Paradeep Phospha,64.00,12.94,5212.79,0.00,62.65,5.29,2434.66,85.01,15.17
6,Fertilizer,G S F C,128.75,4.62,5124.42,1.94,355.83,158.30,3061.39,63.48,12.58
7,Fertilizer,R C F,92.50,6.43,5105.82,1.46,299.60,158.79,4956.51,107.32,15.34
8,Fertilizer,Natl.Fertilizer,48.05,18.85,2352.38,0.00,125.46,233.00,6454.65,145.20,1.66
9,Fertilizer,M B Agro Prod.,909.70,25.75,1992.86,0.05,28.67,245.84,213.03,216.44,30.14
10,Fertilizer,Mangalore Chem.,127.80,17.56,1515.89,0.94,22.80,-6.29,1021.29,48.62,10.72
11,Fertilizer,S P I C,53.55,5.51,1090.49,0.00,71.81,93.56,750.62,50.50,23.28
12,Fertilizer,Krishana Phosch.,343.35,34.99,1017.65,0.15,6.10,-6.01,66.17,25.18,20.72
13,Fertilizer,Madras Fertilize,49.80,4.01,803.08,0.00,63.02,153.60,813.05,64.30,28.08
14,Fertilizer,Zuari Agro Chem.,187.00,4.76,786.04,0.00,912.67,225.06,1295.92,59.55,15.67
15,Fertilizer,Khaitan Chemical,77.75,10.99,747.39,0.39,7.94,-59.09,215.64,53.23,36.12
17,Fertilizer,Rama Phosphates,292.25,7.88,517.08,0.68,15.47,-22.30,174.69,-4.28,39.62
18,Fertilizer,Nagarjuna Fert.,8.05,,474.66,0.00,-142.33,-0.87,1492.76,131.73,-18.54
19,Fertilizer,Bharat Agri Fert,669.45,,353.84,0.00,0.15,-91.18,9.73,37.82,3.15
20,Fertilizer,Basant Agro Tech,20.80,9.61,188.50,0.38,5.79,12.21,201.28,34.36,12.66
21,Fertilizer,Aries Agro,137.75,13.93,177.27,0.58,6.38,18.81,117.47,15.43,12.98
22,Fertilizer,Shiva Global,128.90,9.03,128.81,0.58,3.42,-35.44,142.30,-8.48,18.58
23,Fertilizer,Agro Phos India,34.40,10.01,69.74,0.73,2.41,88.28,30.15,42.02,14.08
24,Fertilizer,Phosphate Co,93.00,18.14,33.55,0.00,0.02,-97.75,17.14,43.43,8.19
25,Fertilizer,Welterman Intl.,17.74,6.46,7.88,0.00,-0.16,-366.67,0.34,-44.26,
26,Fertilizer,M P Agro Inds.,10.35,600.66,6.01,0.00,0.01,-50.00,0.00,,0.86

In [59]:
#Finance stocks
mytable_values14 = []
url= 'https://www.screener.in/company/compare/00000026/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values14.append(col)

In [60]:
Fin_stock = pd.DataFrame(mytable_values14)

In [61]:
Fin_stock.dropna(inplace=True)
Fin_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Fin_stock.insert(0, 'Sector', 'Finance')
del Fin_stock['S.no']

In [62]:
Fin_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Finance,Bajaj Finance,7151.65,50.24,433173.62,0.28,2596.25,158.99,9280.92,37.66,10.27
2,Finance,H D F C,2283.25,18.14,414725.80,1.31,5574.01,5.30,23183.42,-25.19,8.60
3,Finance,Bajaj Finserv,1681.75,53.23,267911.26,0.02,2577.59,57.23,15888.26,13.90,11.43
4,Finance,SBI Cards,861.30,41.99,81398.83,0.29,626.91,105.81,3100.29,31.26,11.65
5,Finance,Bajaj Holdings,6651.85,17.43,74023.99,1.73,970.03,24.50,91.33,-6.47,10.54
6,Finance,Cholaman.Inv.&Fn,724.65,24.95,59564.08,0.28,562.01,71.06,2770.02,11.62,9.34
7,Finance,Muthoot Finance,1020.20,10.83,40976.43,1.96,802.01,-17.42,2503.87,-7.74,14.15
8,Finance,HDFC AMC,1920.20,30.08,40958.36,2.19,314.19,-9.05,521.58,2.86,36.17
9,Finance,Shriram Trans.,1189.00,9.15,32178.07,1.68,966.52,469.38,5144.81,10.69,9.90
10,Finance,I R F C,21.40,4.48,27966.60,6.54,1661.58,10.63,5627.44,22.83,5.11
11,Finance,Power Fin.Corpn.,101.95,1.93,26902.52,11.77,4579.53,-1.82,18532.25,-2.28,9.38
12,Finance,Aditya Birla Cap,110.20,14.78,26645.23,0.00,423.82,56.77,5590.28,30.04,8.20
13,Finance,Max Financial,739.50,88.37,25497.33,0.00,68.48,165.97,3271.69,-44.94,10.60
14,Finance,M & M Fin. Serv.,206.10,8.67,25453.17,1.75,239.86,115.21,2902.12,13.83,7.44
15,Finance,Poonawalla Fin,321.60,55.10,24613.62,0.12,140.92,110.52,545.21,14.47,8.42
17,Finance,Sundaram Finance,2211.80,21.66,24551.91,0.90,277.13,-13.95,1246.03,-0.88,8.15
18,Finance,REC Ltd,91.95,2.37,24199.40,12.48,2454.16,8.18,9497.45,-0.56,9.11
19,Finance,LIC Housing Fin.,404.25,7.26,22236.29,2.10,926.89,512.24,5296.28,8.87,7.10
20,Finance,Piramal Enterp.,803.05,9.63,19155.45,4.11,485.98,-10.78,3548.37,21.99,8.61
21,Finance,L&T Fin.Holdings,76.45,16.70,18929.15,0.65,261.17,47.54,2988.40,-2.14,6.58
22,Finance,Nippon Life Ind.,271.75,25.61,16921.45,4.05,120.95,-29.39,294.61,4.87,29.69
23,Finance,AAVAS Financiers,2072.30,42.52,16417.07,0.00,89.22,48.97,352.79,29.75,9.51
24,Finance,ICICI Securities,504.05,12.11,16299.64,4.76,273.59,-11.95,793.55,6.47,27.03
25,Finance,IIFL Wealth Mgt,1761.85,25.35,15653.50,3.12,156.58,34.00,460.51,20.73,13.42
26,Finance,CreditAcc. Gram.,991.80,31.85,15449.74,0.00,132.58,348.06,620.76,21.69,9.72

In [63]:
#Health care stocks
mytable_values15 = []
url= 'https://www.screener.in/company/compare/00000030/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values15.append(col)

In [64]:
Health_stock = pd.DataFrame(mytable_values15)

In [65]:
Health_stock.dropna(inplace=True)
Health_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Health_stock.insert(0, 'Sector', 'Health care')
del Health_stock['S.no']

In [66]:
Health_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Health care,Apollo Hospitals,4266.05,69.40,61314.94,0.28,323.78,27.28,3795.60,0.94,17.79
2,Health care,Max Healthcare,429.15,65.20,41598.87,0.00,172.83,17.64,1066.27,6.61,12.23
3,Health care,Fortis Health.,272.85,50.48,20618.14,0.00,134.31,25.17,1487.85,5.50,10.82
4,Health care,Dr Lal Pathlabs,2358.80,72.43,19651.23,0.51,58.20,-56.02,502.70,-17.13,29.44
5,Health care,Narayana Hrudaya,714.40,38.77,14590.10,0.14,110.61,45.12,1033.43,20.19,24.74
6,Health care,Aster DM Health.,237.75,21.56,11860.92,0.00,79.77,54.13,2662.12,12.25,11.58
7,Health care,Krishna Institu.,1462.85,37.21,11668.58,0.00,79.25,-21.51,495.51,4.72,34.10
8,Health care,Poly Medicure,962.25,68.08,9250.35,0.26,26.96,-28.28,248.85,17.42,16.72
9,Health care,Metropolis Healt,1584.85,46.98,8113.71,0.50,33.57,-47.26,279.86,-14.35,29.03
10,Health care,Rainbow Child.,635.75,46.84,6453.47,0.31,38.76,6.44,237.15,-3.74,22.60
11,Health care,Vijaya Diagnost.,420.35,45.61,4294.75,0.24,17.56,-47.07,104.36,-14.94,28.30
12,Health care,Health.Global,295.90,,4117.50,0.00,2.48,125.91,408.05,26.28,5.36
13,Health care,Thyrocare Tech.,674.10,28.77,3556.50,2.23,20.12,-58.41,119.24,-25.13,41.12
14,Health care,Kovai Medical,1467.30,17.20,1596.57,0.20,23.79,-32.45,236.21,-1.03,16.38
15,Health care,Krsnaa Diagnost.,484.20,23.01,1516.37,0.52,16.80,-22.26,111.77,-15.63,18.19
17,Health care,Shalby,132.85,24.80,1439.76,0.75,20.10,-0.50,201.68,4.83,9.50
18,Health care,KMC Speciality,66.40,44.94,1082.99,0.00,6.11,6.63,35.05,8.55,31.79
19,Health care,Artemis Medicare,64.45,23.24,862.59,0.00,8.70,109.13,163.47,35.68,9.98
20,Health care,Indrapr.Medical,61.80,8.90,564.70,4.05,20.28,31.35,263.32,29.77,29.24
21,Health care,Dr Agarwal's Eye,1073.15,14.87,504.38,0.28,9.11,1347.95,66.39,115.06,19.96
22,Health care,Prevest Denpro,398.50,41.34,478.32,0.00,3.68,,12.30,,39.66
23,Health care,Lotus Eye Hospit,72.75,33.12,151.01,0.69,1.37,785.00,11.87,100.51,7.91
24,Health care,Tejnaksh Health.,127.20,57.17,129.20,0.00,0.50,-34.21,1.86,-20.17,16.02
25,Health care,Fortis Malar,55.90,,104.77,0.00,-2.96,-120.90,20.10,-13.29,-1.25
26,Health care,Jeevan Scienti.,64.45,10.09,98.62,1.86,0.38,-86.76,10.33,-24.93,27.85

In [67]:
#Hotels & Restaurant stocks
mytable_values16 = []
url= 'https://www.screener.in/company/compare/00000031/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values16.append(col)

In [68]:
Hotel_stock = pd.DataFrame(mytable_values16)

In [69]:
Hotel_stock.dropna(inplace=True)
Hotel_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Hotel_stock.insert(0, 'Sector', 'Hotels and Restaurants')
del Hotel_stock['S.no']

In [70]:
Hotel_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Hotels and Restaurants,Indian Hotels Co,317.15,221.79,45068.43,0.13,180.84,159.53,1266.07,267.46,1.21
2,Hotels and Restaurants,EIH,184.55,318.71,11550.57,0.00,65.86,145.48,394.29,311.02,-3.11
3,Hotels and Restaurants,Chalet Hotels,390.00,,7969.59,0.00,28.57,172.10,253.01,263.94,-0.13
4,Hotels and Restaurants,Lemon Tree Hotel,85.80,,6809.26,0.00,13.57,133.82,192.04,355.61,1.20
5,Hotels and Restaurants,Mahindra Holiday,272.85,46.48,5482.58,0.00,29.82,239.06,604.85,63.09,7.92
6,Hotels and Restaurants,Barbeque-Nation,1052.55,126.85,4109.21,0.00,16.03,135.61,314.87,208.76,3.59
7,Hotels and Restaurants,I T D C,342.60,168.38,2929.85,0.00,10.53,489.41,96.27,116.48,2.06
8,Hotels and Restaurants,EIH Assoc.Hotels,450.60,47.75,1368.63,0.00,5.68,158.08,60.10,371.74,5.97
9,Hotels and Restaurants,Oriental Hotels,76.50,116.75,1363.61,0.00,9.94,145.18,88.61,259.04,0.58
10,Hotels and Restaurants,TajGVK Hotels,189.25,34.69,1185.09,0.00,19.10,247.38,85.50,244.20,6.36
11,Hotels and Restaurants,Speciality Rest.,209.55,30.97,983.36,0.00,15.03,275.38,89.97,195.66,7.50
12,Hotels and Restaurants,Royal Orch.Hotel,267.95,32.42,734.05,0.00,11.53,229.58,60.45,320.96,7.53
13,Hotels and Restaurants,Sayaji Hotels,374.50,32.47,656.12,0.00,9.38,-56.81,60.22,471.89,22.06
14,Hotels and Restaurants,HLV,9.65,,631.03,0.00,-2.67,110.88,39.94,444.14,-6.55
15,Hotels and Restaurants,Apollo Sindoori,1591.25,26.75,413.79,0.09,3.24,25.58,57.75,19.00,17.12
17,Hotels and Restaurants,Advani Hotels.,81.60,21.85,378.52,1.72,6.75,265.85,22.87,1149.73,18.45
18,Hotels and Restaurants,Benares Hotels,2735.00,28.54,355.55,0.37,4.54,299.12,19.85,415.58,10.27
19,Hotels and Restaurants,Sinclairs Hotels,122.75,25.61,341.86,0.81,5.73,709.57,18.33,896.20,8.37
20,Hotels and Restaurants,Indrayani Biotec,94.90,58.11,324.81,0.00,1.79,175.38,25.63,79.11,16.18
21,Hotels and Restaurants,U P Hotels,494.10,20.70,266.81,0.00,3.57,237.31,25.92,312.74,9.47
22,Hotels and Restaurants,Asian Hotels (E),137.40,,220.72,0.00,11.00,119.39,42.89,271.02,-2.45
23,Hotels and Restaurants,Kamat Hotels,89.80,65.13,211.03,0.00,11.58,180.81,68.94,399.57,6.92
24,Hotels and Restaurants,Asian Hotels (N),92.70,,180.89,0.00,-33.43,16.78,53.45,306.77,-0.98
25,Hotels and Restaurants,The Byke Hospi.,41.15,,165.20,0.00,2.67,133.97,36.27,199.01,-2.15
26,Hotels and Restaurants,Graviss Hospital,20.45,,144.22,0.00,1.26,173.68,13.85,447.43,-3.22

In [71]:
#Infrastructure Developers & Operators
mytable_values17 = []
url= 'https://www.screener.in/company/compare/00000032/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values17.append(col)

In [72]:
Infra_stock = pd.DataFrame(mytable_values17)

In [73]:
Infra_stock.dropna(inplace=True)
Infra_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Infra_stock.insert(0, 'Sector', 'Infra & Dev')
del Infra_stock['S.no']

In [74]:
Infra_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Infra & Dev,Larsen & Toubro,1876.15,28.84,263607.36,1.17,2228.33,44.93,35853.20,22.22,10.96
2,Infra & Dev,Adani Ports,784.75,34.19,165851.01,0.64,1091.56,-17.93,4637.95,1.78,11.15
3,Infra & Dev,GMR Airports Inf,34.60,,20855.00,0.00,-112.99,55.18,1443.97,57.11,4.74
4,Infra & Dev,IRB Infra.Devl.,217.05,20.07,13101.53,0.58,363.19,405.06,1924.57,18.38,8.79
5,Infra & Dev,HFCL,76.50,37.53,10546.66,0.24,53.10,-41.73,1051.02,-12.91,19.18
6,Infra & Dev,Rites,380.35,15.70,9133.25,4.47,144.70,91.03,605.04,70.59,30.16
7,Infra & Dev,Ircon Intl.,42.75,6.21,4020.70,5.85,144.57,62.46,2001.91,75.29,13.99
8,Infra & Dev,Reliance Infra.,142.35,,3758.15,0.00,91.59,207.16,6171.96,42.34,5.75
9,Infra & Dev,Engineers India,62.55,17.42,3512.77,4.80,64.81,2318.28,814.80,9.21,25.37
10,Infra & Dev,Dilip Buildcon,217.25,,3182.30,0.05,-55.11,-339.40,2884.37,18.30,3.16
11,Infra & Dev,Techno Elec.Engg,280.30,12.19,3077.27,0.71,35.55,-24.51,172.96,-8.70,14.40
12,Infra & Dev,Ashoka Buildcon,75.95,4.03,2132.09,0.00,134.65,69.25,1878.56,46.40,26.00
13,Infra & Dev,J Kumar Infra,271.00,8.71,2051.66,1.11,61.91,92.87,993.77,47.21,15.23
14,Infra & Dev,Rel. Indl. Infra,1139.85,250.33,1722.30,0.26,1.12,-37.43,16.52,5.49,2.56
15,Infra & Dev,GMR Urban,26.70,,1614.58,0.00,201.67,262.60,1068.68,22.05,8.50
17,Infra & Dev,SEPC,8.35,,1024.95,0.00,-30.85,13.05,59.24,-11.00,-1.74
18,Infra & Dev,GE Power,146.35,,983.24,0.00,-59.02,48.67,490.90,-9.16,-3.73
19,Infra & Dev,Likhitha Infra.,367.80,14.74,725.59,0.68,13.91,37.04,79.70,42.99,35.31
20,Infra & Dev,AGI Infra,505.90,14.99,618.04,0.20,11.02,76.32,55.68,46.14,31.26
21,Infra & Dev,BGR Energy Sys.,70.25,,506.92,0.00,-88.78,-57.58,272.60,7.15,3.03
22,Infra & Dev,GVK Power Infra.,3.00,0.22,473.76,0.00,-400.08,-764.12,614.69,769.07,77.43
23,Infra & Dev,Markolines Traf.,175.10,32.64,334.57,0.29,,,,,26.51
24,Infra & Dev,Advait Infratech,604.50,43.73,308.29,0.17,,,,,24.93
25,Infra & Dev,Jaypee Infratech,2.20,,304.12,0.00,-551.18,-7.86,273.56,83.06,1.01
26,Infra & Dev,MEP Infrast.,15.70,,284.97,0.00,-64.02,-2202.97,150.27,-45.70,2.72

In [75]:
#IT-Software stocks
mytable_values18 = []
url= 'https://www.screener.in/company/compare/00000034/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values18.append(col)

In [76]:
It_stock = pd.DataFrame(mytable_values18)

In [77]:
It_stock.dropna(inplace=True)
It_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
It_stock.insert(0, 'Sector', 'IT - Software')
del It_stock['S.no']

In [78]:
It_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,IT - Software,TCS,3103.30,28.67,1135513.41,1.39,10465.00,8.39,55309.00,18.01,54.87
2,IT - Software,Infosys,1419.90,26.11,597406.71,2.18,6026.00,11.07,36538.00,23.43,37.09
3,IT - Software,HCL Technologies,982.10,19.32,266607.07,3.26,3487.00,7.00,24686.00,19.52,25.40
4,IT - Software,Wipro,379.10,18.47,208062.60,1.58,2649.10,-9.61,22539.70,14.60,21.13
5,IT - Software,Tech Mahindra,1012.95,18.44,98561.63,1.48,1147.50,-16.38,12707.90,24.62,26.57
6,IT - Software,L & T Infotech,4596.80,33.13,80629.90,0.98,634.40,27.64,4522.80,30.62,35.72
7,IT - Software,Mindtree,3323.65,29.00,54827.72,1.11,508.70,27.53,3400.40,31.48,41.54
8,IT - Software,Tata Elxsi,8312.85,83.36,51765.44,0.51,184.72,62.92,725.89,30.01,47.72
9,IT - Software,Mphasis,2086.60,26.30,39274.26,2.20,401.88,18.31,3411.24,26.77,27.38
10,IT - Software,L&T Technology,3565.00,37.07,37627.65,0.70,275.00,26.83,1873.70,23.40,30.77
11,IT - Software,Persistent Sys,3516.65,35.83,26899.55,0.88,211.61,39.91,1878.11,52.70,26.30
12,IT - Software,Oracle Fin.Serv.,2929.95,13.62,25290.62,6.48,491.76,-6.19,1402.46,0.36,36.03
13,IT - Software,Coforge,3633.90,32.25,22184.38,1.43,171.90,21.12,1829.40,25.16,32.08
14,IT - Software,KPIT Technologi.,666.40,61.01,18268.94,0.47,87.66,41.79,685.72,20.86,24.14
15,IT - Software,Affle India,1180.65,67.61,15732.28,0.00,54.99,52.62,347.48,127.90,27.92
17,IT - Software,Happiest Minds,992.80,73.14,14578.43,0.38,52.54,33.83,307.81,33.59,31.23
18,IT - Software,Tanla Platforms,812.15,20.59,11022.41,0.74,100.41,-3.90,800.14,27.74,58.76
19,IT - Software,Route Mobile,1383.40,43.00,8671.91,0.36,71.07,105.23,729.01,93.11,17.10
20,IT - Software,Cyient,772.65,16.31,8534.84,3.11,116.10,0.96,1250.10,18.13,20.42
21,IT - Software,Birlasoft Ltd,280.45,16.23,7639.40,1.60,120.72,6.23,1154.41,22.12,24.91
22,IT - Software,Brightcom Group,36.35,6.73,7297.14,0.83,277.24,162.66,1480.61,126.38,29.42
23,IT - Software,C.E. Info System,1347.05,79.69,7224.22,0.15,24.19,17.48,65.01,49.97,21.08
24,IT - Software,Firstsour.Solu.,103.20,14.80,7220.45,3.39,85.09,-36.35,1472.36,-0.84,16.59
25,IT - Software,Sonata Software,505.60,17.82,7084.32,3.12,107.76,24.25,1778.86,40.23,43.67
26,IT - Software,Intellect Design,524.90,20.58,7083.25,0.48,68.87,-6.73,541.30,32.56,24.84

In [79]:
#Mining & Mineral products stocks
mytable_values19 = []
url= 'https://www.screener.in/company/compare/00000038/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values19.append(col)

In [80]:
Minin_stock = pd.DataFrame(mytable_values19)

In [81]:
Minin_stock.dropna(inplace=True)
Minin_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Minin_stock.insert(0, 'Sector', 'Mining & Mineral')
del Minin_stock['S.no']

In [82]:
Minin_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Mining & Mineral,Coal India,234.55,6.28,144515.66,7.25,8834.22,178.65,35092.17,38.80,54.29
2,Mining & Mineral,Vedanta,293.00,5.67,108951.75,17.41,5592.00,3.67,38622.00,35.94,32.15
3,Mining & Mineral,NMDC,129.00,4.93,37819.29,11.43,1469.44,-53.98,4767.07,-26.80,37.11
4,Mining & Mineral,KIOCL,185.20,208.71,11207.58,0.96,-43.78,-120.28,366.32,-64.85,19.35
5,Mining & Mineral,G M D C,139.85,6.24,4444.05,3.07,344.95,814.74,1155.37,131.85,16.72
6,Mining & Mineral,MOIL,151.05,7.43,3072.63,3.97,102.78,66.31,375.59,28.05,20.47
7,Mining & Mineral,Maithan Alloys,941.80,2.75,2742.45,0.64,218.96,158.59,1020.31,80.38,54.91
8,Mining & Mineral,Sandur Manganese,705.90,3.40,1906.34,0.71,33.79,-77.29,651.68,37.18,56.78
9,Mining & Mineral,Orissa Minerals,2772.60,1211.97,1660.40,0.00,-1.91,91.68,15.46,296.41,4.88
10,Mining & Mineral,Indian Metals,250.65,2.49,1352.36,3.99,134.18,35.49,743.42,38.22,34.28
11,Mining & Mineral,Ashapura Minech.,88.70,13.29,814.68,0.56,35.17,-41.75,401.83,-11.06,12.28
12,Mining & Mineral,Shyam Century,22.35,8.88,495.46,1.34,7.06,-12.95,31.99,-16.91,51.53
13,Mining & Mineral,South West Pinn.,139.80,31.31,390.08,0.36,1.84,19.48,25.83,7.98,14.03
14,Mining & Mineral,20 Microns,95.95,8.03,337.88,0.00,13.30,129.02,185.91,58.25,19.49
15,Mining & Mineral,Dec.Gold Mines,26.25,,244.99,0.00,-0.39,42.65,0.20,-25.93,-4.99
17,Mining & Mineral,Sarthak Metals,121.65,6.78,166.20,1.64,8.58,74.75,133.72,40.34,40.14
18,Mining & Mineral,Facor Alloys,7.13,6.83,139.43,0.00,1.91,19.60,61.82,12.83,17.55
19,Mining & Mineral,Bhagyanagar Ind,44.05,17.95,139.08,0.00,0.61,-73.01,414.18,26.73,8.31
20,Mining & Mineral,Indsil Hydro,44.75,1.43,124.37,0.00,1.14,-88.47,44.03,19.06,40.56
21,Mining & Mineral,Asi Industries,12.91,,116.29,0.00,-15.29,-1043.83,43.28,-31.74,-8.69
22,Mining & Mineral,VBC Ferro Alloys,67.60,19.48,110.83,0.00,3.72,307.82,55.71,16781.82,-2.63
23,Mining & Mineral,Nagpur Power,80.95,,106.04,0.00,-2.33,-241.21,12.25,108.33,3.42
24,Mining & Mineral,Madhav Copper,26.05,,70.71,0.00,-0.24,-119.67,0.00,-100.00,-3.16
25,Mining & Mineral,Shilp Gravures,88.50,7.56,54.42,2.03,0.81,-72.64,19.84,20.90,10.42
26,Mining & Mineral,HG Industries,112.10,,51.95,0.00,-0.20,-217.65,0.00,-100.00,-45.93

In [83]:
#Power Generation & Distribution stocks
mytable_values20 = []
url= 'https://www.screener.in/company/compare/00000049/?limit=50&page=1'
page = requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
soup=BeautifulSoup(page.content)
table_body=soup.find('table')
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip() for ele in col]
    mytable_values20.append(col)

In [84]:
Power_stock = pd.DataFrame(mytable_values20)

In [85]:
Power_stock.dropna(inplace=True)
Power_stock.columns = ['S.no','Company name','CMP(Rs)', 'P/E','Mark cap/n(Rs.Cr)','Div yeild(%)','Np qtr(Rs.Cr)', 'qtr profit(%)','Sales qtr(Rs.Cr)','qtr sales var(%)','ROCE(%)']
Power_stock.insert(0, 'Sector', 'Power gen & Distr')
del Power_stock['S.no']

In [86]:
Power_stock

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Power gen & Distr,Adani Transmissi,3121.10,371.75,348571.92,0.00,168.46,-61.12,3131.88,10.68,11.63
2,Power gen & Distr,Adani Green,2083.35,664.01,330064.44,0.00,214.00,40.91,1635.00,67.35,7.86
3,Power gen & Distr,NTPC,164.75,9.29,159849.45,4.25,3977.77,15.40,43177.14,44.46,9.23
4,Power gen & Distr,Power Grid Corpn,213.95,10.38,149205.21,5.49,3801.19,5.73,10905.21,6.72,11.48
5,Power gen & Distr,Adani Power,346.85,14.22,133871.73,0.00,4779.86,1618.01,13723.06,108.91,20.68
6,Power gen & Distr,Tata Power Co.,216.15,32.20,69067.27,0.81,883.54,103.21,14495.48,43.06,9.30
7,Power gen & Distr,JSW Energy,320.20,26.49,52657.89,0.62,554.78,131.89,3026.27,75.18,12.07
8,Power gen & Distr,NHPC Ltd,37.90,10.40,38019.99,4.78,1053.76,14.49,2785.14,15.23,6.50
9,Power gen & Distr,Torrent Power,479.55,12.06,23055.12,1.88,502.01,143.00,6510.31,110.08,13.10
10,Power gen & Distr,SJVN,32.60,10.15,12811.13,5.21,609.23,78.07,1004.11,51.57,9.20
11,Power gen & Distr,CESC,77.95,7.53,10339.41,5.77,297.00,5.54,4102.00,27.67,12.75
12,Power gen & Distr,NLC India,68.75,7.38,9526.12,4.36,568.83,61.55,3862.91,27.22,8.27
13,Power gen & Distr,RattanIndia Ent,49.05,20.02,6780.03,0.00,-216.30,-25928.92,689.47,68847.00,3.05
14,Power gen & Distr,Reliance Power,16.50,,5576.11,0.00,-12.32,-200.33,2062.97,2.44,5.01
15,Power gen & Distr,JP Power Ven.,7.80,15.45,5331.85,0.00,241.96,5475.12,1820.37,98.95,7.41
17,Power gen & Distr,Rattanindia Pow.,4.40,,2357.55,0.00,-389.30,-0.68,842.79,-3.61,7.78
18,Power gen & Distr,BF Utilities,399.85,16.59,1505.09,0.00,81.34,1641.56,194.23,144.75,18.59
19,Power gen & Distr,Guj Inds. Power,85.90,6.56,1303.79,2.91,62.86,77.67,302.68,2.26,7.99
20,Power gen & Distr,India Power Corp,12.95,77.80,1261.06,0.39,3.18,1.92,143.71,21.99,2.56
21,Power gen & Distr,Inox Wind Energy,1040.80,,1145.98,0.00,-130.25,-215.40,211.95,47.97,-14.43
22,Power gen & Distr,Waaree Renewab.,490.60,48.15,1021.18,0.10,9.93,508.64,95.03,237.11,26.41
23,Power gen & Distr,Orient Green,8.55,62.08,641.87,0.00,8.76,641.93,77.69,3.16,7.41
24,Power gen & Distr,K.P. Energy,409.65,15.83,455.33,0.24,9.87,386.21,123.87,511.40,32.90
25,Power gen & Distr,Solex Energy,313.50,253.33,250.80,0.05,,,,,4.30
26,Power gen & Distr,Sunedison Infra.,437.65,,196.50,0.00,-4.95,58.42,15.28,44.83,-7.80

final_df = Agro_chem.merge(Alco_stocks,on='Sector').merge(Auto_stock,on='Sector').merge(Bank_stock,on='Sector').merge(Cement_stock,on='Sector').merge(Chem_stock,on='Sector').merge(Construc_stock,on='Sector').merge(Crude_stock,on='Sector').merge(Jewel_stock,on='Sector').merge(Edoil_stock,on='Sector').merge(Engi_stock,on='Sector').merge(Ente_stock,on='Sector').merge(Ferti_stock,on='Sector').merge(Fin_stock,on='Sector').merge(Health_stock,on='Sector').merge(Hotel_stock,on='Sector').merge(Infra_stock,on='Sector').merge(It_stock,on='Sector').merge(Minin_stock,on='Sector').merge(Power_stock,on='Sector')

In [122]:
final_df = Agro_chem.append(Alco_stocks).append(Auto_stock).append(Bank_stock).append(Cement_stock).append(Chem_stock).append(Construc_stock).append(Crude_stock).append(Jewel_stock).append(Edoil_stock).append(Engi_stock).append(Ente_stock).append(Ferti_stock).append(Fin_stock).append(Health_stock).append(Hotel_stock).append(Infra_stock).append(It_stock).append(Minin_stock).append(Power_stock)

In [123]:
final_df

,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
1,Agro Chemical,UPL,663.90,12.56,50740.04,1.51,1005.00,30.09,10821.00,27.08,15.58
2,Agro Chemical,P I Industries,2994.25,49.44,45435.00,0.20,262.40,40.17,1543.20,29.27,17.33
3,Agro Chemical,Sumitomo Chemi.,508.05,54.43,25364.16,0.20,138.41,30.40,985.53,26.11,33.69
4,Agro Chemical,Bayer Crop Sci.,4648.25,32.03,20887.32,0.54,302.60,19.27,1667.40,17.76,30.91
5,Agro Chemical,Bharat Rasayan,10899.15,25.26,4534.33,0.01,38.61,-1.30,327.40,30.02,28.42
...,...,...,...,...,...,...,...,...,...,...,...
22,Power gen & Distr,Waaree Renewab.,490.60,48.15,1021.18,0.10,9.93,508.64,95.03,237.11,26.41
23,Power gen & Distr,Orient Green,8.55,62.08,641.87,0.00,8.76,641.93,77.69,3.16,7.41
24,Power gen & Distr,K.P. Energy,409.65,15.83,455.33,0.24,9.87,386.21,123.87,511.40,32.90
25,Power gen & Distr,Solex Energy,313.50,253.33,250.80,0.05,,,,,4.30
26,Power gen & Distr,Sunedison Infra.,437.65,,196.50,0.00,-4.95,58.42,15.28,44.83,-7.80

In [124]:
final_df.reset_index(inplace=True)
#del final_df['index']
final_df

,index,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
0,1,Agro Chemical,UPL,663.90,12.56,50740.04,1.51,1005.00,30.09,10821.00,27.08,15.58
1,2,Agro Chemical,P I Industries,2994.25,49.44,45435.00,0.20,262.40,40.17,1543.20,29.27,17.33
2,3,Agro Chemical,Sumitomo Chemi.,508.05,54.43,25364.16,0.20,138.41,30.40,985.53,26.11,33.69
3,4,Agro Chemical,Bayer Crop Sci.,4648.25,32.03,20887.32,0.54,302.60,19.27,1667.40,17.76,30.91
4,5,Agro Chemical,Bharat Rasayan,10899.15,25.26,4534.33,0.01,38.61,-1.30,327.40,30.02,28.42
...,...,...,...,...,...,...,...,...,...,...,...,...
463,22,Power gen & Distr,Waaree Renewab.,490.60,48.15,1021.18,0.10,9.93,508.64,95.03,237.11,26.41
464,23,Power gen & Distr,Orient Green,8.55,62.08,641.87,0.00,8.76,641.93,77.69,3.16,7.41
465,24,Power gen & Distr,K.P. Energy,409.65,15.83,455.33,0.24,9.87,386.21,123.87,511.40,32.90
466,25,Power gen & Distr,Solex Energy,313.50,253.33,250.80,0.05,,,,,4.30
467,26,Power gen & Distr,Sunedison Infra.,437.65,,196.50,0.00,-4.95,58.42,15.28,44.83,-7.80

In [125]:
final_df.isnull().sum()

index                0
Sector               0
Company name         0
CMP(Rs)              0
P/E                  0
Mark cap/n(Rs.Cr)    0
Div yeild(%)         0
Np qtr(Rs.Cr)        0
qtr profit(%)        0
Sales qtr(Rs.Cr)     0
qtr sales var(%)     0
ROCE(%)              0
dtype: int64

In [126]:
final_df[final_df.isnull()]

,index,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              468 non-null    int64
 1   Sector             468 non-null    object
 2   Company name       468 non-null    object
 3   CMP(Rs)            468 non-null    object
 4   P/E                468 non-null    object
 5   Mark cap/n(Rs.Cr)  468 non-null    object
 6   Div yeild(%)       468 non-null    object
 7   Np qtr(Rs.Cr)      468 non-null    object
 8   qtr profit(%)      468 non-null    object
 9   Sales qtr(Rs.Cr)   468 non-null    object
 10  qtr sales var(%)   468 non-null    object
 11  ROCE(%)            468 non-null    object
dtypes: int64(1), object(11)
memory usage: 44.0+ KB

In [128]:
final_df.describe()

            index
count  468.000000
mean    12.989316
std      7.573614
min      1.000000
25%      6.000000
50%     12.500000
75%     20.000000
max     26.000000

In [129]:
voidspace_index = []
for i in final_df[final_df['P/E'] == ''].index:
    voidspace_index.append(int(i))
for o in final_df[final_df['Np qtr(Rs.Cr)'] == ''].index:
    voidspace_index.append(int(o))
for p in final_df[final_df['qtr profit(%)'] == ''].index:
    voidspace_index.append(int(p))
for j in final_df[final_df['Sales qtr(Rs.Cr)'] == ''].index:
    voidspace_index.append(int(j))
for k in final_df[final_df['qtr sales var(%)'] == ''].index:
    voidspace_index.append(int(k))
for l in final_df[final_df['ROCE(%)'] == ''].index:
    voidspace_index.append(int(l))

voidspace_index1 = set(voidspace_index)
str(voidspace_index1)

'{21, 22, 34, 35, 37, 38, 40, 41, 42, 43, 46, 53, 56, 58, 59, 60, 61, 86, 94, 103, 105, 106, 147, 149, 151, 166, 172, 184, 187, 190, 201, 203, 209, 219, 222, 223, 231, 233, 236, 239, 241, 245, 248, 252, 257, 258, 262, 264, 267, 284, 285, 291, 292, 329, 338, 341, 345, 346, 356, 363, 365, 366, 367, 370, 375, 377, 382, 383, 384, 387, 389, 390, 391, 392, 432, 437, 439, 440, 442, 456, 458, 462, 466, 467}'

In [130]:
len(voidspace_index1)

84

In [131]:
final_df.iloc[21]

index                             23
Sector                 Agro Chemical
Company name         Super Crop Safe
CMP(Rs)                         6.10
P/E
Mark cap/n(Rs.Cr)              24.53
Div yeild(%)                    0.00
Np qtr(Rs.Cr)                  -0.37
qtr profit(%)                  62.63
Sales qtr(Rs.Cr)                4.29
qtr sales var(%)              -33.18
ROCE(%)                       -11.59
Name: 21, dtype: object

In [132]:
final_df['P/E']

0       12.56
1       49.44
2       54.43
3       32.03
4       25.26
        ...
463     48.15
464     62.08
465     15.83
466    253.33
467
Name: P/E, Length: 468, dtype: object

In [133]:
final_df

,index,Sector,Company name,CMP(Rs),P/E,Mark cap/n(Rs.Cr),Div yeild(%),Np qtr(Rs.Cr),qtr profit(%),Sales qtr(Rs.Cr),qtr sales var(%),ROCE(%)
0,1,Agro Chemical,UPL,663.90,12.56,50740.04,1.51,1005.00,30.09,10821.00,27.08,15.58
1,2,Agro Chemical,P I Industries,2994.25,49.44,45435.00,0.20,262.40,40.17,1543.20,29.27,17.33
2,3,Agro Chemical,Sumitomo Chemi.,508.05,54.43,25364.16,0.20,138.41,30.40,985.53,26.11,33.69
3,4,Agro Chemical,Bayer Crop Sci.,4648.25,32.03,20887.32,0.54,302.60,19.27,1667.40,17.76,30.91
4,5,Agro Chemical,Bharat Rasayan,10899.15,25.26,4534.33,0.01,38.61,-1.30,327.40,30.02,28.42
...,...,...,...,...,...,...,...,...,...,...,...,...
463,22,Power gen & Distr,Waaree Renewab.,490.60,48.15,1021.18,0.10,9.93,508.64,95.03,237.11,26.41
464,23,Power gen & Distr,Orient Green,8.55,62.08,641.87,0.00,8.76,641.93,77.69,3.16,7.41
465,24,Power gen & Distr,K.P. Energy,409.65,15.83,455.33,0.24,9.87,386.21,123.87,511.40,32.90
466,25,Power gen & Distr,Solex Energy,313.50,253.33,250.80,0.05,,,,,4.30
467,26,Power gen & Distr,Sunedison Infra.,437.65,,196.50,0.00,-4.95,58.42,15.28,44.83,-7.80

In [134]:
final_df.to_csv(r'C:\Users\K.V.N\Desktop\Data Science\Python\Untitled Folder\scrapped_df.csv')